name: Deployment
on: workflow_call
jobs:
    Deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Get build artifacts
              uses: actions/download-artifact@v6
              with:
                name: dist-files
            - name: Output contents
              run: ls
            - name: Deploy
              run: echo "Deploying..."