name: Deployment
on:
    workflow_call:
        inputs:
            artifact-name:
                description: Description
                required: true
                default: dist
                type: string
jobs:
    Deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Get build artifacts
              uses: actions/download-artifact@v6
              with:
                  name: ${{inputs.artifact-name}}
            - name: Output contents
              run: ls
            - name: Deploy
              run: echo "Deploying..."
